[submodule "Telemetry"]
	path = Telemetry
	url = https://github.com/MST-Solar-Car-Team/Telemetry
	branch = main
[submodule "DriverController"]
	path = DriverController
	url = https://github.com/MST-Solar-Car-Team/DriverController
	branch = main
[submodule "DashboardOs"]
	path = DashboardOs
	url = https://github.com/MST-Solar-Car-Team/DashboardOs
	branch = main
[submodule "Dashboard"]
	path = Dashboard
	url = https://github.com/MST-Solar-Car-Team/Dashboard
	branch = dev
